header {
    font-family: Arial, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    background-color: cornflowerblue;
    text-align: center;
    text-transform: none;
    padding: 75px;

}

footer {
    background-color: cornflowerblue;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

table {
    background-color: cornflowerblue;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

th {
    border: 1px solid black;
    padding: 5px;
}