*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    margin: 50px auto;
    width: 50%;
}
th,td {
    border: 1px solid black;
    height: 50px;
}
header {
    text-align: center;
    text-transform: none;
    padding: 40px;
    font-size: xx-large;
    font-weight: bold;
}
main {
    max-width: 1000px;
    margin: 0 auto;
}
