ol {
    padding: 20px;
}

p{
    padding: 10px 0;
}

audio {
    margin-right: auto;
    margin-left: auto;
    display: block;
    z-index:0;
}

#img-asito-kutya {
    display: block;
    margin: 20px auto;
    max-width: 500px;
    width: 90%;
}

caption{
    font-size: 30px;
    padding: 20px;
}

table {
    border: 2px solid black;
    text-align: center;
    border-collapse: collapse;
    margin: 50px auto;
    max-width: 800px;
    width: 90%;

}

th,td {
    border: 1px solid black;
    height: 70px;

}