/*
    Ez a fájl tartalmazza az erdekessegek.html oldalon levő formázásokat.
 */

ol {
    padding: 20px;
}

p {
    padding: 10px 0;
}

#zene {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 60vw;
    max-width: 500px;
    z-index: 0;
    border-radius: 10px;
}

#img-asito-kutya {
    display: block;
    margin: 20px auto;
    max-width: 500px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 5px 15px 15px black;
}

caption {
    font-size: 30px;
    padding: 20px;
}

#mergek-tablazat {
    border: 2px solid black;
    text-align: center;
    border-collapse: collapse;
    margin: 50px auto;
    max-width: 800px;
    width: 90%;

}

th, td {
    border: 1px solid black;
    height: 70px;

}