/*
    Ez a fájl tartalmazza az index.html oldalon levő formázásokat.
 */

#kepsorozat-doboz {
    border: 5px solid lightgray;
    width: 20vw;
    height: 20vw;
    min-width: 350px;
    min-height: 350px;
    box-shadow: 0 15px 30px black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: kepsorozat;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 5px;
}

main li{
    margin: 10px 0;
    list-style-type: none;
}

ul {
    padding: 5px 0 5px 15px;
}

video {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#video{
    max-width: 700px;
    width: 92%;
    border-radius: 5px;
}

q{
    display: block;
    max-width: 500px;
}

section p{
    text-indent: 15px;
}

@media only screen and (max-width: 750px) {
    #kepsorozat-doboz {
        float:  none;
        display: block;

        margin: 25px auto;

    }
}
@media only screen and (min-width: 750px) {
    #kepsorozat-doboz {
        float: right;
        margin: 15px 20px ;
    }
    ul::after{
        content: "";
        display: block;
        clear: both;
    }

}

@keyframes kepsorozat{
    0% { background-image: url('../media/kepek/kutya01.png'); }
    50% { background-image: url('../media/kepek/kutya02.png'); }
    100% { background-image: url('../media/kepek/kutya03.png'); }
}