/*
    Ez a fájl tartalmazza az index.php oldalon levő formázásokat.
 */

#kepsorozat-doboz {
    border: 5px solid lightgray;
    width: 60vw;
    height: 60vw;
    max-width: 325px;
    max-height: 325px;
    box-shadow: 5px 15px 15px black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: kepsorozat;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 5px;
}

main li {
    margin: 10px 0;
    list-style-type: none;
}

ul {
    padding: 5px 0 5px 15px;
}

video {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#video {
    max-width: 700px;
    width: 92%;
    border-radius: 5px;
}

q {
    display: block;
    max-width: 500px;
}

section p {
    text-indent: 15px;
}

@media only screen and (max-width: 750px) {
    #kepsorozat-doboz {
        float: none;
        display: block;

        margin: 25px auto;

    }
}

@media only screen and (min-width: 750px) {
    #kepsorozat-doboz {
        float: right;
        margin: 15px 20px;
    }

    ul::after {
        content: "";
        display: block;
        clear: both;
    }

}

@keyframes kepsorozat {
    0% {
        background-image: url('../media/kepek/mopsz.jpg');
    }
    50% {
        background-image: url('../media/kepek/puli.jpg');
    }
    100% {
        background-image: url('../media/kepek/goldenretriever.jpg');
    }
}