/*
    Ez a fájl tartalmazza az kapcsolat.php oldalon levő formázásokat.
 */

#terkep {
    height: 50vh;
    max-height: 400px;
    width: 100%;
    max-width: 600px;
    float: right;
    border-radius: 10px;
    box-shadow: 5px 15px 15px black;
}

#elerhetosegek li {
    padding: 15px 0;
    list-style-type: none;
    font-size: 20px
}

section {
    min-height: 200px;
    height: 60vh;
    max-width: 1200px;
    overflow: hidden;
}

@media only screen and (max-width: 1100px) {
    #terkep {
        float: none;
        margin: 0 auto;
    }

    #elerhetosegek {
        margin: 0 auto;
    }
}

@media (max-width: 1100px) {
    section {
        height: 700px
    }

    #terkep {
        margin-bottom: 40px;
    }

}