
#terkep{
    height: 400px;
    width: 100%;
    max-width: 600px;
    float: right;
    border-radius: 10px;

}
main li {
    padding: 15px 0;
    list-style-type: none;
}

@media only screen and (max-width: 600px) {
    #terkep{
        float: none;

    }
}