caption{
    font-size: 30px;
    padding: 20px;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 15px;
}
table {
    border: 1px solid #fff;
    text-align: center;
    border-collapse: collapse;
    margin: 50px auto;
    width: 50%;
    color: #fff;
    clear: none;
}
th,td {
    border: 1px solid #fff;
    height: 50px;
}
.kutya-kep{

    height: 300px;
}
/*
.kutya-gomb{
    font-size: 20px;
    background-color: #DFF6FF;
    border: none;
    padding: 5px;
    cursor: pointer;
}
.kutya-gomb:hover {
    background-color: #0E3EDA;
    color: #fff;
}

.kutya-doboz{
    width: 350px;
    height: 500px;
    border: #fff solid 2px;
    text-align: center;
    padding: 30px 0;
    border-radius: 20px;
}

.kutya-doboz:hover {
    border: #000 solid 2px;
    transform: rotateY(3rad);
}
.kutya-tulajdonsagok{
    list-style: none;
    margin:20px auto;
    color:#fff;
    font-size: 22px;
}
.dobozok {
    display: inline-grid;
    column-gap: 50px;
    row-gap: 50px;
    width: 100%;
    justify-content: center;
}
*/

.kep-box {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    float: right;
    margin: 10px;
}

.kep-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.kep-box:hover .kep-box-inner {
    transform: rotateX(3rad);
}

.kep-box-elol, .kep-box-hatul {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
}

.kep-box-hatul {
    background-color: rgba(255,255,255,0.2);
    color: white;
    transform: rotateX(3rad);
}

.kep-box-hatul > p {
    font-size: 20px;
    padding: 15px 0;
}
.kep-box-hatul > h2 {
    padding: 15px 0;
}

/*

@media only screen and (min-width: 1200px) {
    .doboz1{

        grid-column-end: 2;
        grid-row-end: 2;
    }

    .doboz2{
        grid-column-end: 3;
        grid-row-end: 2;
    }
    .doboz3{
        grid-column-end: 4;
        grid-row-end: 2;
    }
}

@media only screen and (max-width: 1200px) {
    .doboz1{

        grid-column-end: 2;
        grid-row-end: 2;
    }

    .doboz2{
        grid-column-end: 3;
        grid-row-end: 2;
    }


}

@media only screen and (max-width: 800px) {

    .doboz1{

        grid-column-end: 2;
        grid-row-end: 2;
    }
    .doboz2{
        grid-column-end: 2;
        grid-row-end: 3;
    }

}
*/