table {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    border-collapse: collapse;

}

td,th {
    padding:25px;
    border: 2px solid #0779E4;

}

h4 {
    font-size: 20px;
}

.felhasznalok {
    width: 100%;
    display: inline-grid;
    column-gap: 50px;
    row-gap: 50px;

}
img{
    border-radius: 10%;
}
.felhasznalo {
    justify-items: center;
    display: grid;
    padding: 15px;
    margin: 20px;
    max-height: 350px;
    max-width: 300px;
    width: 60vw;
    float: left;
    background-color: rgba(255, 255, 255, 0.2);
}

input, .button {
    width: 300px;
    font-size: 15px;
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    background-color: #3D404D;
    border: none;
    color: #fff;
    margin: 10px auto;
    cursor: pointer;
    text-align: center;
}
input:hover, .button:hover{
    background-color: #6D707D;
    transition: 400ms;
}

.kosarbolTorol {
    width: 150px;
}

img {
   padding: 10px;
}

#uzenet {
    width: 500px;
}

#uzenet-kuld {
    width: 300px;
}

#uzenet, #uzenet-kuld {
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 15px auto;
    max-width: 80%;
    color: #000000;
}
.uzenet-doboz{
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff20;
    border-radius: 10px 10px;
}
