table {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    border-collapse: collapse;

}

td,th {
    padding:25px;
    border: 2px solid #0779E4;

}

input, .button {
    width: 150px;
    font-size: 15px;
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    background-color: #6D707D;
    border: none;
    color: #fff;
    margin: 10px auto;
    cursor: pointer;
}

