*{
    padding: 0px;
    box-sizing: border-box;
}
.registration, .login {
    padding: 30px;
    border: 3px solid #4F49FC;
    margin: 20px auto;
    width: 600px;
}

main > h2 {
    text-align: center;
}

form > input, form > textarea, form > select, option {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    color: #000;
}

form > div {
    margin: 10px auto;
    padding: 10px;
    width: 100%;
}

.checkbox > label {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"], input[type="reset"] {
    background-color: #4F49FC;
    color: beige;
    font-size: large;
    border: none;
}
