/*
    Ez a fájl tartalmazza az regisztracio.html és a bejelentkezes.html oldalon levő formázásokat
 */

section {
    max-width: 800px;
}

.registration, .login {
    margin: 15px auto;
    max-width: 650px;
    width: 100%;
}

section > h3 {
    text-align: center;
}

.form-input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}

.gomb {
    width: 90%;
    margin-top: 20px;
    cursor: pointer;
}

fieldset {
    border: none;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;

}

legend {
    font-weight: 550;
}

.checkbox > label {
    display: block;
    margin-bottom: 10px;
}

textarea {
    resize: none;
    height: 100px;
}


input[type="submit"], input[type="reset"] {
    background-color: #2D2D2D;
    color: #ffffff;
    font-size: large;
    border: none;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #6D707D;
}