*{
    padding: 0px;
    box-sizing: border-box;
}
.registration, .login {
    padding: 30px;
    border: 3px solid white;
    border-radius: 20px 20px;
    margin: 20px auto;
    max-width: 700px;
    width: 92%;
}

main > h2 {
    text-align: center;
}

form > input, form > textarea, form > select, option {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    color: #000;
}


form > div {
    margin: 10px auto;
    padding: 10px;
    width: 100%;
}

.checkbox > label {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"], input[type="reset"] {
    background-color: #0E3EDA;
    color: #ffffff;
    font-size: large;
    border: none;
}
