*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
#jelenlegiOldal{
    background-color:#3550C0;

}
body {
    font-family: Arial, Verdana, sans-serif;
    bottom: 0;
    padding: 0;
    background-color: #49A2FC;
}

header {
    font-size: xx-large;
    font-weight: bold;
    background-color: #4F49FC;
    text-align: center;
    text-transform: none;
    padding: 40px;
    color: beige;
}
h2{
    text-shadow: 2px 2px black;
}

header h6 {
    color: beige;
    font-size: initial;
    font-weight: lighter;
}



#menu a{
    text-decoration: none;
    padding: 10px 0;

}

footer {
    background-color: cornflowerblue;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    color: beige;
}

#menu {
    background-color: #4E71E6;
    position: sticky;
    top: 0;

}

#oldalak {
    justify-content: center;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

#oldalak li {
    width: 150px;
    text-align: center;
}


#menu li{
    display: inline-block;
}
#menu a{
    display: block;
}
#menu a:hover {
    background-color: #9CBEDF;
    cursor: pointer;
}

#menu a:visited{
    color: #fff;
}

#felhasznalovalami a:visited{
    color: #fff;
}

#valami {
    width: 400px;
    display: block;
    margin: 40px auto;

}

main {
    padding: 20px;
    max-width: 1000px;
    margin: 40px auto;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 20px;
}
@keyframes kepsorozat{
    0% { background-image: url('../media/kutya01.png'); }
    50% { background-image: url('../media/kutya02.png'); }
    100% { background-image: url('../media/kutya03.png'); }
}

#kepsorozat-doboz {
    position: absolute;
    right: 0;
    margin: 10px 20px 15px 10px;
    border: 5px solid lightgray;
    width: 300px;
    height: 300px;
    box-shadow: 0 15px 30px black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: kepsorozat;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}