*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Verdana, sans-serif;
    bottom: 0;
    padding: 0;

    background: linear-gradient(90deg, #0066ff, #1516a2);
}

header {
    font-size: x-large;
    font-weight: bold;
    background: linear-gradient(90deg, #0066ff, #1516a2);
    text-align: center;
    text-transform: none;
    padding: 40px;
    text-shadow: 2px 2px black;
}

header h6 {
    font-size: initial;
    font-weight: lighter;
}
h1,h2{
    color: #fff;
}


nav a{
    text-decoration: none;
    padding: 10px 0;
    display: block;
}

footer {
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    background-color: rgb(61, 64, 77);
}

nav {
    background-color: rgb(61, 64, 77);
    position: sticky;
    top: 0;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


nav a:hover {
    background-color: #9CBEDF;
    cursor: pointer;
}

nav a:visited{
    color: #fff;
}

blockquote {
    padding: 20px 0;
}
p{
    padding: 10px 0;
}

#menu a{
    min-width: 140px;
    text-align: center;
    border-right: 1px solid white;
    display: inline-block;
}
#menu a:first-child{
    border-left: 1px solid white;
}

#felhasznalovalami a:visited{
    color: #fff;
}


/* aktualis oldal menupontja */
a[href="#"]{
    background-color:#3550C0;
}

main {
    padding: 20px 50px;
    margin: 40px auto;
    min-height: 100vh;
}
header > h1{
    font-size: 45px;
}
header > h2{
    font-size: 20px;
    text-shadow: 2px 2px black;
}



/* Legalabb 1200px-es kijelzo (xl) */
@media only screen and (max-width: 1300px) {
    nav{
        position: static;
    }
    nav a{
        width: 50%;
    }
}


/* 600px-nel kisebb kijelzok (xs) */
@media only screen and (max-width: 600px) {
    #kepsorozat-doboz {
        float:none;
        display: block;
        margin: 10px auto;

    }
    nav{
        position: static;
    }
    nav a{
        width: 100%;
        border: none !important; /* nem kene important-ot hasznalni, majd kesobb modositva lesz */

    }
}

/* Legalabb 600px-es kijelzok (s) */
@media only screen and (min-width: 600px) {

}

/* Legalabb 768px-es kijelzok (md) */
@media only screen and (min-width: 768px) {

}

/* Legalabb 992px-es kijelzo (lg) */
@media only screen and (min-width: 992px) {

}

/*
    Ugras a lap tetejere gomb formazasa
 */
#ugras-gomb{
    position:fixed;
    right:0;
    bottom:0;
    width:50px;
    height:50px;
    border-radius:50%;
    margin:1rem;
    background-color:#353535;
    box-shadow:0.125rem 0.125rem 1rem rgba(53,53,53,0.5);;
    cursor:pointer;
    border:2px solid rgba(255,255,255,0.05);
    display:flex;
    align-content:center;
    justify-content:center;
    opacity:0.0;
    transition:opacity 0.3s, transform 0.3s, background-color 0.3s;
}
#ugras-gomb:hover{
    background-color:#404040;
}
#ugras-gomb p{
    line-height:0.7rem;
    display:flex;
    align-self:center;
    margin:0;
    text-align:center;
    color:white;
}
