*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin-bottom: 10px;
}

body {
    font-family: Arial, Verdana, sans-serif;
    background: linear-gradient(90deg, #42C2FF, #0779E4, #0E3EDA);

}

h3{
    font-size: 25px;
    margin-bottom: 20px;
}

header {
    text-align: center;
    padding: 35px;
    text-shadow: 2px 2px black;
}

header > h1, header > h2{
    color: #fff;
}

header > h1{
    font-size: 45px;
}

header > h2{
    font-size: 20px;
}

footer {
    text-align: center;
    padding: 25px;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    background-color: #3D404DFF;
}

section{
    background-color: rgba(255,255,255,0.2);
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}

main {
    padding: 0 7vw;
    margin: 20px auto;
    min-height: 100vh;
}

#ugras-gomb{
    position:fixed;
    right:0;
    bottom:0;
    width:50px;
    height:50px;
    border-radius:50%;
    margin:1rem;
    background-color:#353535;
    box-shadow:0.125rem 0.125rem 1rem rgba(53,53,53,0.5);;
    cursor:pointer;
    border:2px solid rgba(255,255,255,0.05);
    display:flex;
    align-content:center;
    justify-content:center;
    opacity:0.0;
    transition:opacity 0.3s, transform 0.3s, background-color 0.3s;
}

#ugras-gomb:hover{
    background-color:#404040;
}

#ugras-gomb p{
    line-height:0.7rem;
    display:flex;
    align-self:center;
    margin:0;
    text-align:center;
    color:white;
}

@media only screen and (max-width: 1000px){
    header{
        display: none;
    }
}
