/*
    Ez a fájl tartalmazza az termekek.html oldalon levő formázásokat
 */


p {
    padding: 5px;
    color: #fff;
}

.termek-doboz{
    display: grid;
    border: #DFF6FF 3px solid;
    border-radius: 5%;
    text-align: center;
    padding: 15px;
    min-width: 300px;

}

.termek-doboz:hover {
    border: #000 3px solid;
}



.termek-kep:hover{
    transition: transform .2s ease;
    transform: scale(1.08);
    cursor: pointer;
}

.termek-kep{
    max-width: 200px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}




